{:linters {:unused-binding {:exclude-destructured-keys-in-fn-args true
                            :exclude-destructured-as true}}
 :lint-as {clojure.test.check.clojure-test/defspec clojure.test/deftest}}
